.content{
  padding: 16px;
}
.comment{
  padding: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.commentDate{
  line-height: .1em;
  margin-left: 8px;
  font-size: 0.6em;
  opacity: 0.7;
}
.commentText{
  margin-left: 8px;
  line-height: .9em;
}